/* ---------------------------------------------------------------------- 
>>> TABLE OF CONTENT
-------------------------------------------------------------------------
1 - Font Awesome
2 - Bootstrap
3 - Responsive Tabs
4 - Select2
5 - Custom Checkbox, Radio
6 - Flex Slider
7 - Star Rating
8 - Panorama
/* ---------------------------------------------------------------------- */

//Import Files
@import 'vendor/_font-awesome';
@import 'vendor/_bootstrap';
@import 'vendor/_responsivetabs';
@import 'vendor/_select2';
@import 'vendor/_flexslider';
@import 'vendor/_star-rating';
@import 'vendor/_jquery-ui-slider-pips';

/* 5.Custom Checkbox, Radio
---------------------------------------------------------------*/
label.checkbox, label.radio {
  font-weight: normal;
  color: #333;
  margin: 0;
}

.icheckbox_minimal-purple, .iradio_minimal-purple {
  display: inline-block;
  *display: inline;
  vertical-align: bottom;
  margin: 0 8px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: url(../images/grey.png) 0 0 no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-purple.hover {
  /*background-position: -20px 0;*/
}

.icheckbox_minimal-purple {
  background-position: 0 0;
}

.icheckbox_minimal-purple.checked {
  background-position: -16px 0;
}

.icheckbox_minimal-purple.checked.hover {
  background-position: -16px 0;
}

.icheckbox_minimal-purple.disabled {
  background-position: -32px 0;
  cursor: default;
}

.icheckbox_minimal-purple.checked.disabled {
  background-position: -48px 0;
}

.iradio_minimal-purple {
  background-position: -64px 0;
}

.iradio_minimal-purple.checked {
  background-position: -80px 0;
}

.iradio_minimal-purple.disabled {
  background-position: -96px 0;
  cursor: default;
}

.iradio_minimal-purple.checked.disabled {
  background-position: -112px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_minimal-purple, .iradio_minimal-purple {
    background-image: url(../images/grey@2x.png);
    -webkit-background-size: 128px auto;
    background-size: 128px auto;
  }
}








