/* ---------------------------------------------------------------------- */
/*  Footer
/* ---------------------------------------------------------------------- */

.footer-bg {
  background: $footer-bg;
  margin-top: 100px;
  padding: 30px 0 20px;
  font-size: 10px;
  color: $footer-text;

  @media screen and (max-width: $screen-xs-min) {
    padding: 20px 0;
    margin-top: 60px;
  }

  & a {
    color: $footer-text;
  }

  .footer-title {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .footer-title-small {
    text-transform: capitalize;
    padding: 5px 0;
  }

  .footer-title-border {
    border-bottom: 2px solid #2e2e2e;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .footer-top-elements {
    margin-bottom: 30px;

    .social-icons {
      li {
        display: inline-block;
        margin-right: 10px;
        & a {
          display: block;
          width: 35px;
          height: 35px;
          @include border-radius(50%);
          border: 1px solid $border-color;
          color: $footer-text;
          text-align: center;
          line-height: 35px;
          &:hover {
            color: $white;
          }
        }
      }
      & .fb {
        a:hover {
          background: #4867aa;
          border-color: #4867aa;
        }
      }
      & .tw {
        a:hover {
          background: #55acee;
          border-color: #55acee;
        }
      }
      & .gplus {
        a:hover {
          background: #e94142;
          border-color: #e94142;
        }
      }
      @media screen and (max-width: $screen-xs-min) {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .subscribe {
      margin: 5px 0 0;

      label {
        font-weight: normal;
      }

      input {
        border: 1px solid $footer-text;
        height: 25px;
        margin-left: 20px;
        background: none;
        padding: 0 10px;
        width: 120px;
        @include border-radius(0);
      }
      .glyphicon {
        background: $footer-text;
        color: $border-color;
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
        vertical-align: inherit;
      }
    }

    .bloglist {
      border: 0;
      margin: 12px 0 0;
      li {
        border-right: 1px solid $footer-text;
        display: inline-block;

        & a {
          color: $footer-text;
          padding: 0 10px;
          text-transform: uppercase;
          line-height: 12px;
          &:hover {
            color: $white;
          }
        }
      }
      :first-child {
        & a {
          padding-left: 0;
        }
      }
      :last-child {
        border-right: 0;
      }
      @media screen and (max-width: $screen-xs-min) {
        margin: 30px 0 0;
      }
    }
  }

  .location-address {

    li {
      margin-bottom: 20px;

      i {
        display: inline-block;
        width: 35px;
        height: 35px;
        @include border-radius(50%);
        border: 1px solid $border-color;
        color: $footer-text;
        text-align: center;
        line-height: 30px;
        margin-right: 12px;
        vertical-align: middle;
      }
      address {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
    .locator {
      margin-top: -2px;

      .maplocator {
        background: url($spritesheet) no-repeat -10px -444px;
        width: 15px;
        height: 21px;
        display: inline-block;
        margin: 0 20px 0 10px;
        vertical-align: middle;
      }
    }
  }

  .footer-list-item {
    li {
      a {
        display: block;
        padding: 5px 0;
        &:hover {
          color: $white;
        }
      }
    }

  }
  .footer-list-item-white {
    a {
      padding: 5px 0;
      color: $white;
      &:hover {
        color: $footer-text;
      }
    }
  }

  .cards {
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 10px;
      span {
        background: url(#{$assetPath}/payment-card.png) no-repeat;
        width: 44px;
        height: 30px;
        text-indent: -99999px;
        display: block;
        cursor: pointer;
      }
      span.visa {
        background-position: 0 0;
      }
      span.mastercard {
        background-position: -44px 0;
      }
    }
    @media screen and (max-width: $screen-xs-min) {
      position: absolute;
      top: 0;
      margin: 30px 0 0 15px;
    }
  }

  .cards-copy {
    position: relative;

    .copyright {
      font-size: $font-size14 - 4;
      color: $footer-text;
      margin: 20px 0 0;

      @media screen and (max-width: $screen-xs-min) {
        margin: 38px 0 0 0;
        padding-left: 150px;
      }
    }
  }

  @media screen and (max-width: $screen-xs-min) {
    .footersub-acc {
      li {
        .margint20 {
          margin-top: 0;
        }
        span {
          i {
            font-size: $font-size14;
          }
        }
      }
    }

    .clickacc, .subclickacc {
      span {
        display: none;
      }
      @media screen and (max-width: $screen-xs-min) {
        cursor: pointer;
      }
    }

    .accordion {
      ul.acclist, ul.footersub-list {
        display: none;
      }
    }
  }
}

