/* ---------------------------------------------------------------------- */
/*  Slider
/* ---------------------------------------------------------------------- */

.sliderbg {
  margin-bottom: 30px;
  .carousel-indicators {
    bottom: 0;
    z-index: 1;
    @media screen and (max-width: $screen-xs-min) {
      margin-bottom: 0;
    }

    li, &.active {
      width: 12px;
      height: 12px;
      margin: 10px;
      border-color: $dark;
    }
    .active {
      background-color: $dark;
    }
  }

  .carousel-caption {
    bottom: auto;
    right: 24%;
    top: 12%;
    left: auto;
    text-align: right;
    padding-top: 0;
    z-index: 1;

    @media screen and (max-width: $screen-sm-min) {
      right: 15%;
      top: 5%;
    }

    h1 {
      font-family: $font-family-secondary-bold-italic;
      font-size: $font-size54 - 14;
      margin-bottom: 20px;

      @media screen and (max-width: $screen-xs-min) {
        font-size: $font-size14 + 4;
        margin: 10px 0;
      }
    }
  }

}