/* ---------------------------------------------------------------------- */
/*  Main Navigation
/* ---------------------------------------------------------------------- */

.header-section {

  /*Top Header*/
  .header-top-bg {
    background: $text-color;
    height: 35px;
    color: $white;

    .top-navigation {
      .navbar-nav {
        > li {
          > a {
            padding: 7px 15px 8px;
            color: $white;

            &:hover, &:focus {
              background: none;
              color: rgba($white, 0.6);
            }
          }
          &:first-child {
            a {
              padding-left: 0;
            }
          }
        }
      }
      .navbar-right {
        margin-right: 0;
        > li {
          > a {
            color: $yellow;
            font-family: $font-family-secondary;

            &:hover {
              color: rgba($yellow, 0.8);
            }
          }
          &:last-child {
            a {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .navbar-default {
    background: none;
    border: 0;
    @media screen and (max-width: $screen-xs-min) {
      height: 50px;
      position: fixed;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid $yellow;
      z-index: 3;
    }

    .logo-search-rightoptions {
      padding: 25px 0;

      @media screen and (max-width: $screen-xs-min) {
        padding: 8px 0 0;
        position: relative;
      }

      .navbar-toggle {
        float: left;
        border: none;
        background: transparent !important;
        margin: 2px 5px 6px 0;
        padding: 9px 15px 9px 0;

        &:hover {
          background: transparent !important;
        }

        .icon-bar {
          width: 22px;
          @include transition(all 0.2s);
        }
        .top-bar {
          @include rotate(45deg);
          @include transform-origin(10% 10%);
          /*transform: rotate(45deg);
          transform-origin: 10% 10%;
          -ms-transform-origin: 10% 10%;
          -webkit-transform-origin: 10% 10%;*/
        }
        .middle-bar {
          opacity: 0;
        }
        .bottom-bar {
          @include rotate(-45deg);
          @include transform-origin(10% 90%);
          /*transform: rotate(-45deg);
          transform-origin: 10% 90%;*/
        }

        &.collapsed {
          .top-bar {
            @include rotate(0deg);
          }
          .middle-bar {
            opacity: 1;
          }
          .bottom-bar {
            @include rotate(0deg);
          }
        }
      }

      .logo {
        height: auto;
        display: block;
        padding: 0;
        @media screen and (max-width: $screen-xs-min) {
          width: 60px;
          margin-top: 5px;
        }

        &:focus {
          outline: none;
        }
      }
      .searchbar {
        width: 230px;
        margin: 12px auto 0;
        position: relative;
        & input {
          border: 0;
          width: 100%;
          padding: 0 20px 6px 30px;
          border-bottom: 1px solid $yellow;
          background: url(#{$assetPath}/search.svg) no-repeat;
          @include border-radius(0);
          -webkit-appearance: none;
          &:focus {
            background: url(#{$assetPath}/search-focus.svg) no-repeat;
          }
        }
        .search-clear {
          background: url(#{$assetPath}/search-clear.svg) no-repeat;
          cursor: pointer;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 6px;
          right: 0;
          display: none;
        }
      }

      .rightoptions {
        margin: 10px 0 0;

        @media screen and (max-width: $screen-xs-min) {
          margin: 5px 0 0;
        }

        li {
          display: inline-block;

          & a {
            display: block;
            text-indent: -999999px;
            padding: 5px;
            position: relative;

            &:focus {
              outline: none;
            }
          }

          span {
            background: url($spritesheet) no-repeat;
            width: 18px;
            height: 16px;
            display: block;

            &.user {
              background-position: -36px -142px;
            }
            /*&.location {
              background-position: -54px -142px;
            }*/
            &.fav {
              background-position: -72px -142px;
            }
            &.cart {
              background-position: -90px -142px;
            }
            &.sea {
              background-position: -118px -142px;
            }
            &.notify {
              background-position: -144px -142px;
            }
          }

          &.active a, &.open a, a:hover, a:focus {
            span.user {
              background-position: -36px -158px;
            }
            /*span.location {
              background-position: -54px -158px;
            }*/
            span.fav {
              background-position: -72px -158px;
            }
            span.cart {
              background-position: -90px -158px;
            }
            span.notify {
              background-position: -144px -158px;
            }
          }

          &.dropdown {
            position: relative;

            .dropdown-menu {
              &.user-profile {
                width: 250px;
                padding: 0;
                left: auto;
                right: 0;
                border-radius: 0;
                @media screen and (max-width: $screen-xs-min) {
                  right: -20px;
                }

                li {
                  float: none;
                  display: block;
                  &.profile-details {
                    padding: 10px;
                    background: $yellow-light;
                    border-bottom: 1px solid $yellow;

                    .profile-pic {
                      width: 50px;
                      height: 50px;
                      float: left;

                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }

                    .profile-info {
                      padding-left: 60px;
                      p {
                        margin-bottom: 0;
                        width: 100%;
                        @include text-overflow;
                        a {
                          color: $text-color-heading;
                          font-size: $font-size14 - 2;
                          padding: 0;
                          font-family: Arial, sans-serif;
                          @include text-overflow;
                        }
                      }
                      .user-name {
                        color: $dark;
                        font-family: $font-family-default-semibold;
                      }
                    }
                  }
                  &.signout {
                    a {
                      border-top: 1px solid $light;
                      background: $border-bottom-gray !important;
                    }
                  }
                  a {
                    padding: 12px 20px;
                    text-indent: 0;
                    span {
                      background: url($spritesheet) no-repeat;
                      width: 18px;
                      height: 16px;
                      display: inline-block;
                      margin-right: 28px;
                      vertical-align: middle;

                      &.myprofile {
                        background-position: -172px -142px;
                      }
                      &.myorders {
                        background-position: -190px -142px;
                      }
                      /*&.wishlist {
                        background-position: -208px -142px;
                      }*/
                      &.settings {
                        background-position: -226px -142px;
                      }
                      &.signout {
                        background-position: -244px -142px;
                      }
                    }

                    &:hover, &.active {
                      color: $text-color-red;
                      background: none;
                      span {
                        &.myprofile {
                          background-position: -172px -158px;
                        }
                        &.myorders {
                          background-position: -190px -158px;
                        }
                        /*&.wishlist {
                          background-position: -208px -158px;
                        }*/
                        &.settings {
                          background-position: -226px -158px;
                        }
                        &.signout {
                          background-position: -244px -158px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .counts {
            background: $text-color-red;
            width: 14px;
            height: 14px;
            font-size: $font-size14 - 6;
            color: $white;
            text-align: center;
            line-height: 12px;
            position: absolute;
            top: 0;
            right: 0;
            @include border-radius(50%);
            text-indent: 0;
          }
        }
      }

      @media screen and (max-width: $screen-xs-min) {
        .searchbar-mobile {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          background: $white;
          display: none;
          @include transition(all 0.8s ease);

          .search-clear {
            background: url(#{$assetPath}/search-clear.svg) no-repeat;
            background-size: cover;
            cursor: pointer;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 18px;
            left: 0;
          }
          & input {
            border: 0;
            border-bottom: 1px solid $light;
            width: 100%;
            padding: 15px 25px 6px 35px;
          }
          .search-icon {
            background: url($spritesheet) no-repeat -118px -142px;
            width: 18px;
            height: 16px;
            position: absolute;
            top: 18px;
            right: 0;
          }
        }
      }
    }
  }

  .fixedmenu {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid $yellow;

    .navbar-collapse {
      padding: 0;

      .main-navigation {
        position: relative;

        @media screen and (max-width: $screen-xs-min) {
          margin: 0;
        }

        > li {
          text-align: center;
          position: static;
          padding: 0 33.4px;

          .menu-acc-icon {
            display: none;
          }

          @media only screen and (min-width: $screen-md-min ) {
            &.dropdown {
              &:hover {
                .dropdown-menu {
                  display: block;
                }
              }
            }
          }

          @media screen and (max-width: $screen-sm-min) {
            padding: 0 19.7px;
          }
          @media screen and (max-width: $screen-xs-min) {
            text-align: left;
            padding: 0;

            .menu-acc-icon {
              display: block;
              background: url($spritesheet) no-repeat -10px -419px;
              float: right;
              width: 15px;
              height: 15px;
              margin-top: 8px;
            }
          }

          .dropdown-menu {
            left: 0;
            right: -11px;
            background: $yellow-light;
            padding: 20px 40px;
            border: 0;

            @include border-radius(0);
            @include transition(all 0.3s ease);

            @media screen and (max-width: $screen-sm-min) {
              right: -7px;
              padding: 20px;
            }
            @media screen and (max-width: $screen-xs-min) {
              padding: 0 0 10px;
              right: 0;
              overflow: hidden;

              .resp-vtabs{
                .resp-tabs-container{
                  margin: 20px 20px 0 80px;
                }
              }
            }

            .tabs-left {
              border-bottom: 0;
              @media screen and (max-width: $screen-xs-min) {
                margin: 20px 20px 0;
              }
              li {
                float: none;
                margin-bottom: 0;

                a {
                  color: $text-color-heading;
                  padding: 0 0 10px;
                  display: block;
                  font-size: $font-size14 + 2;
                  border: 0;
                  background: none;
                  margin: 0;

                  @media screen and (max-width: $screen-xs-min) {
                    font-size: $font-size14;
                    font-family: $font-family-secondary;
                    padding-left: 60px;
                  }

                  &:hover, &:focus {
                    color: $dark;
                    background: none;
                    border: 0;
                    outline: 0;
                  }
                }
              }
              .all-icons {
                width: 32px;
                height: 26px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;

                @media screen and (max-width: $screen-xs-min) {
                  display: none;
                }

                &.sub-sofas-icon {
                  background-position: -10px -80px;
                }
                &.sub-chairs-icon {
                  background-position: -42px -80px;
                }
                &.sub-tables-icon {
                  background-position: -74px -80px;
                }
                &.sub-storage-icon {
                  background-position: -106px -80px;
                }
                &.sub-dining-icon {
                  background-position: -106px -80px;
                }
                &.sub-bed-icon {
                  background-position: -138px -80px;
                }
                &.sub-bedsets-icon {
                  background-position: -170px -80px;
                }
                &.sub-wardrobe-icon {
                  background-position: -202px -80px;
                }
                &.sub-living-icon {
                  background-position: -234px -80px;
                }
                &.sub-office-icon {
                  background-position: -266px -80px;
                }
              }

              .resp-tab-active {
                > a, a:hover, a:focus {
                  color: $dark;
                  background: none;
                  cursor: pointer;
                  border: 0;
                  outline: 0;

                  & span.sub-sofas-icon {
                    background-position: -10px -106px;
                  }
                  & span.sub-chairs-icon {
                    background-position: -42px -106px;
                  }
                  & span.sub-tables-icon {
                    background-position: -74px -106px;
                  }
                  & span.sub-storage-icon {
                    background-position: -106px -106px;
                  }
                  & span.sub-dining-icon {
                    background-position: -106px -106px;
                  }
                  & span.sub-bed-icon {
                    background-position: -138px -106px;
                  }
                  & span.sub-bedsets-icon {
                    background-position: -170px -106px;
                  }
                  & span.sub-wardrobe-icon {
                    background-position: -202px -106px;
                  }
                  & span.sub-living-icon {
                    background-position: -234px -106px;
                  }
                  & span.sub-office-icon {
                    background-position: -266px -106px;
                  }

                  & span.high {
                    border-bottom: 2px solid $text-color-red;

                    @media screen and (max-width: $screen-xs-min) {
                      border: 0;
                    }
                  }
                }
              }
            }

            .menu-sub-title {
              font-family: $font-family-secondary-italic;
              color: $text-color-heading;
              margin: 6px 0 0;
              min-height: 40px;

              @media screen and (max-width: $screen-xs-min) {
                cursor: pointer;
              }
            }

            .sub-list {
              li {
                a {
                  color: $text-color;
                  padding: 6px 0;
                  display: block;
                  line-height: 18px;
                  &:hover{
                    color: $dark;
                  }
                }
              }

            }

            .viewcollections {
              margin-top: 30px;
              @media screen and (max-width: $screen-xs-min) {
                margin: 0;
              }

              a{
                color: $text-color;
                font-family: $font-family-secondary-bold-italic;
                &:hover, &:focus{
                  text-decoration: none;
                  color: $text-color-heading;
                }

                @media screen and (max-width: $screen-xs-min) {
                  padding: 10px 20px 10px 80px;
                  display: block;
                  border-bottom: 1px solid $yellow;
                }

                span{
                  color: $text-color-red;
                  font-size: $font-size14 - 4;
                }
              }
            }

            .bottom-products{
              margin-top: 50px;

              .popular-outer{
                margin-bottom: 10px;
              }
            }
          }

          &.open, &:hover, &.active {
            > a, > a:hover, > a:focus {
              background: none;
              border-color: $yellow;
            }

            @media screen and (max-width: $screen-xs-min) {
              .menu-acc-icon {
                background-position: -25px -419px;
              }
            }
          }

          > a {
            color: $text-color;
            border-bottom: 3px solid $white;
            padding: 0 0 10px;
            outline: 0;

            @media screen and (max-width: $screen-xs-min) {
              padding: 10px 20px;
              border-width: 1px;
              font-size: $font-size14 + 2;
            }

            &:hover, &:focus {
              background: none;
              border-color: $yellow;
            }

            & p {
              margin: 0;

              @media screen and (max-width: $screen-xs-min) {
                display: inline-block;
                vertical-align: middle;
              }
            }
          }

          .all-icons {
            background: url($spritesheet) no-repeat;
            width: 46px;
            height: 30px;
            margin: 0 auto 10px;

            @media screen and (max-width: $screen-xs-min) {
              margin: 0 10px 0 0;
            }

            &.living-icon {
              background-position: -10px -10px;
            }
            &.dining-icon {
              background-position: -56px -10px;
            }
            &.bedroom-icon {
              background-position: -102px -10px;
            }
            &.sofas-icon {
              background-position: -148px -10px;
            }
            &.storage-icon {
              background-position: -194px -10px;
            }
            &.office-icon {
              background-position: -240px -10px;
            }
            /*&.kids-icon {
              background-position: -286px -10px;
            }*/
            &.newarrivals-icon {
              background-position: -332px -10px;
            }
            &.sale-icon {
              background-position: -378px -10px;
            }
          }

          &.open a, &.active a, a:hover, a:focus, &:hover {

            p.living-icon {
              background-position: -10px -40px;
            }
            p.dining-icon {
              background-position: -56px -40px;
            }
            p.bedroom-icon {
              background-position: -102px -40px;
            }

            p.sofas-icon {
              background-position: -148px -40px;
            }
            p.storage-icon {
              background-position: -194px -40px;
            }
            p.office-icon {
              background-position: -240px -40px;
            }
            /*p.kids-icon {
              background-position: -286px -40px;
            }*/
            p.newarrivals-icon {
              background-position: -332px -40px;
            }
            p.sale-icon {
              background-position: -378px -40px;
            }
          }
        }
      }

      .more-menu-option-mobile {
        background: #f9f5ed;
        > li {
          border-bottom: 1px solid #dad7d1;

          a {
            padding: 15px 20px 15px 78px;
            border: 0;

            .more-menu-option-mobile-arrow {
              width: 0;
              height: 0;
              float: right;
              margin-top: 8px;
              border-top: 8px solid #bababa;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
            }
          }

          &.open {
            .more-menu-option-mobile-arrow {
              border: none;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 8px solid #bababa;
            }
          }
          .dropdown-menu {
            background: #f9f5ed;
            padding: 0 20px;

            a {
              padding: 10px 20px 10px 80px;
              color: $dark;
              &:focus, &:hover {
                background: none;
              }
            }
          }
        }
        .locate-store-text {
          a {
            color: $text-color-red;
            font-family: $font-family-default-semibold;
            padding: 15px 20px 10px 30px;

            .locate-store-icon {
              background: url($spritesheet) no-repeat -25px -444px;
              display: inline-block;
              width: 15px;
              height: 21px;
              vertical-align: middle;
              margin-right: 30px;
            }
          }
        }
      }
    }

    @media screen and (max-width: $screen-xs-min) {

      .navbar-collapse {
        position: fixed;
        top: 50px;
        left: -100%;
        display: block;
        width: 100%;
        bottom: 0;
        margin: 0;
        background-color: $yellow-light;
        @include transition(left 0.35s ease);

        overflow-y: auto;
        z-index: 999;

        &.in {
          left: 0;
        }
      }
      .selected {
        color: $text-color !important;
        border-bottom: 1px solid $yellow;
        padding-bottom: 6px;
      }

    }
  }
}

body.menu-slider {
  overflow: hidden;
}

.goToTop {
  position: fixed;
  top: 0;
  height: 84px;
  padding-top: 10px;
  z-index: 11;
  @media screen and (max-width: $screen-xs-min) {
    display: none;
  }
}


