/* ---------------------------------------------------------------------- */
/*  Accordion
/* ---------------------------------------------------------------------- */

.customaccordian {
  .panel-group {
    .panel {
      @include border-radius(0);
      @include box-shadow(none);
    }
  }
  .panel-default {
    border: 0;

    .panel-heading {
      background: none;
      border: 0;
      border-bottom: 1px solid $yellow;
      font-family: $font-family-secondary-bold;
      font-size: $font-size14 + 2;
      padding: 10px 0;
    }
    .panel-title {
      color: $text-color;
      line-height: 20px;
      a {
        display: block;
        &:hover, &:focus{
          text-decoration: none;
          color: $text-color;
        }
      }
    }
    .panel-body {
      padding: 10px 0;
      border: 0 !important;
      p {
        font-size: $font-size14 + 2;
        @media screen and (max-width: $screen-sm-min) {
          font-size: $font-size14;
        }
      }
    }
  }

  .panel-title {
    &.order-title {
      font-weight: normal;
      font-family: $font-family-default;
      font-size: $font-size14;
      color: $text-color-heading;
      .order-header {
        text-decoration: none;
        &:focus {
          text-decoration: none;
        }
      }
      .order-acc {
        color: $dark;
        padding: 0;
        margin: 0;
        display: inline-block;
      }
    }
  }
}

.myorder-order {
  font-family: $font-family-default;
  color: $text-color-red;
}

.productaccordian {
  .panel-heading {
    padding-bottom: 15px !important;
    a {
      span {
        width: 22px;
        height: 22px;
        display: inline-block;
        background: url($spritesheet) no-repeat;
        vertical-align: middle;
        margin-right: 10px;
        &.detail-icon {
          background-position: -60px -235px;
        }
        &.dimension-icon {
          background-position: -82px -235px;
        }
        .dimensionimg {
          max-width: 100%;
        }
      }
      .det-acc, .det-acc-minus {
        background: url($spritesheet) no-repeat -10px -419px;
        float: right;
        width: 15px;
        height: 15px;
        /*margin-top: 4px;*/
      }
      .det-acc-minus{
        background-position: -25px -419px;
      }
    }
  }
}

.prodcustom-accordian {
  .accor-title {
    font-size: $font-size14 + 2;
    font-family: $font-family-secondary-italic;
  }
  .panel-default {
    .panel-heading {
      font-family: $font-family-secondary-bold-italic;
    }
    .panel-body {
      border-top-color: $white;
    }
  }
  i {
    color: $text-color-red;
  }
  .panel-group {
    margin-bottom: 20px;
    .panel {
      border-color: $white;
    }
    .panel-body {
      padding-bottom: 0;
    }
  }
}

.customaccordian.payment-acc{
  .panel-group {
    .panel + .panel{
      margin-top: 20px;
    }
  }
  .panel-default{
    .panel-heading {
      border: 1px solid $light;
      padding: 10px 15px;
      @include border-radius(6px);
      h4 {
        font-weight: normal;
        font-family: $font-family-secondary;
        @media screen and (max-width: $screen-xs-min) {
          font-size: $font-size14;
        }
        a{
          position: relative;
          padding-right: 20px;
        }
        i{
          color: $light;
          font-size: $font-size14 - 2;
          line-height: 18px;
          position: absolute;
          right: 0;
        }
      }
    }
    .highlight{
      border-bottom: 0 !important;
      background: $yellow-light;
      @include top-border-radius(6px, 6px);
      h4{
        /*font-family: $font-family-secondary-bold;*/
        a{
          color: $dark;
        }
      }
    }
    .panel-body{
      padding: 0 40px 20px;
      background: $yellow-light;
      border: 1px solid $light !important;
      border-top: 0 !important;
      @include bottom-border-radius(0, 6px);
      p{
        font-size: $font-size14;
      }
      strong{
        font-family: $font-family-default-bold;
        font-weight: normal;
      }
    }
  }
}



