/* ---------------------------------------------------------------------- */
/*  Banners
/* ---------------------------------------------------------------------- */

.page-banner {
  background: #f1ede4;
  padding: 40px 0;

  @media screen and (max-width: $screen-xs-min) {
    padding: 20px 0;
    .display-table-cell {
      float: left;
      img {
        width: 80%;
      }
    }
  }
}

.banner-product-title {
  font-size: $font-size22 + 14;
  font-family: $font-family-secondary-bold-italic;
  line-height: 40px;
  margin-top: 0;

  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size22 + 8;
    line-height: 30px;
  }
}

.banner-product-subtitle {
  font-size: $font-size14 + 4;
  color: $light;
  text-transform: uppercase;
}