/* ---------------------------------------------------------------------- */
/*  Buttons
/* ---------------------------------------------------------------------- */

.options {
  font-size: $font-size14 - 2;
  background: #fdf4de;
  border: 1px solid #f8d57b;
  padding: 3px 15px;
  color: $text-color;
}

.btn {
  border-radius: 0;
  &.active, .focus, &:active {
    @include box-shadow(none);

    outline: 0;
    .focus, :active, :focus {
      outline: 0;
    }
  }
  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    @include transition(all 0.3s ease 0s);
  }
}

.btn-default, .btn-primary {
  font-size: $font-size14 + 4;
  border: 2px solid $white;
  padding: 10px 30px;
  color: $white;
  background: none;
  min-width: 120px;
  @include border-radius(0);

  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    background: $white;
    color: $text-color;
    border: 2px solid $white;
    box-shadow: none;
  }

  @media screen and (max-width: $screen-sm-min) {
    padding: 8px 30px;
  }
  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size14 - 2;
    padding: 8px 20px;
    min-width: 70px;
  }
}

.btn-primary {
  background: $white;
  border: 2px solid $text-color;
  color: $text-color;

  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    background: $text-color;
    border: 2px solid $text-color;
    color: $white;
  }
}

.btn-xs {
  border: 1px solid $white;
  padding: 4px 15px;
  font-size: $font-size14 - 2;
  font-family: $font-family-default-semibold;
  line-height: 16px;
  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    border: 1px solid $white;
  }
}

.btn-default.btn-sm, .btn-primary.btn-sm {
  border: 2px solid $text-color-red;
  background: none;
  color: $text-color;
  font-size: $font-size14;
  font-family: $font-family-default;
  padding: 6px 20px;
  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    background: $text-color-red;
    color: $white;
  }
  @media screen and (max-width: $screen-xs-min) {
    padding: 6px 18px;
  }
}

.btn-primary.btn-sm {
  border: 2px solid $text-color;
  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    background: $text-color;
  }
}

.btn-link {
  color: $text-color-red;
  text-decoration: underline;
  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    text-decoration: none;
    color: $text-color-red;
  }
}

.large-btn {
  padding: 10px 20px;
  border: 2px solid $text-color;
  color: $white;
  font-size: $font-size14 + 2;
  font-family: $font-family-default-semibold;
}

.btn-redselect {
  background-color: $text-color-red;
  border-color: $text-color-red;
  color: $white;

  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    border-color: $text-color-red;
    background-color: $white;
    color: $text-color;
  }
}

.btn-grey {
  background-color: $light-dark;

  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    background-color: $text-color-red;
    color: $white;
  }
}

.btn-falcon {
  background-color: $text-color;
  border-color: $text-color;

  &.active:hover, &.focus:active, &.active.focus, &:active:focus, &:active:hover, &:hover, &.focus, &:focus {
    border-color: $text-color;
    background-color: $white;
    color: $text-color;
  }
}

.btn-cart, .btn-wishlist {
  position: relative;
  text-transform: uppercase;
  text-align: left;
  padding-left: 60px;
  @include transition(background-color 0.3s ease);

  &.active.focus, &:active:focus {
    top: 2px;
  }
}

.view-btn {
  padding: 8px 10px;
  font-size: $font-size14;
  text-transform: capitalize;
  text-align: center;
}

.btn-wishlist {
  background-color: $text-color-red;
  border: 2px solid $text-color-red;
}

.btn-cart {
  background-color: $text-color;
  border: 2px solid $text-color;
}

/*Button Icons*/
.add-cart-icon, .heart-icon, .checkout-icon{
  background: url($spritesheet) no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 15px;
  &.add-cart-icon {
    background-position: -10px -389px;
  }
  &.heart-icon {
    background-position: -30px -389px;
  }
  &.checkout-icon {
    background-position: -90px -389px;
  }
}




