/* ---------------------------------------------------------------------- */
/*  Page Title
/* ---------------------------------------------------------------------- */

.page-title-center {
  font-family: $font-family-secondary-bold-italic;
  font-size: $font-size22;
  border-bottom: 1px solid $yellow;
  padding: 90px 0 15px;
  color: $text-color-heading;
  margin: 0 0 20px;

  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size14 + 4;
    padding-top: 40px;
  }
}

.product-title {
  font-family: $font-family-secondary-bold-italic;
  font-size: $font-size22 + 2;
  margin: 60px 0 20px 20px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $screen-xs-min) {
    margin-top: 40px;
  }

  &:after {
    border-top: 1px solid $yellow;
    content: '';
    position: absolute;
    display: block;
    top: 14px;
    left: 112px;
    width: 100%;
  }
}

.small-title {
  color: $text-color-heading;
  text-transform: uppercase;
  font-size: $font-size14 - 3;
  margin-bottom: 20px;
  @media screen and (max-width: $screen-xs-min) {
    margin-bottom: 10px;
  }
}

.title1 {
  font-size: $font-size22;
  color: $text-color-heading;
  font-family: $font-family-secondary-italic;
  line-height: 26px;
  margin-bottom: 5px;
  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size22 - 4;
  }
}

.title2 {
  font-family: $font-family-secondary-bold;
  font-size: $font-size22 + 6;
  line-height: 28px;
  margin-bottom: 20px;
  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size22 + 2;
  }
}

.title3 {
  color: $light-dark;
  font-size: $font-size14 + 4;
  position: relative;
  padding-top: 10px;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    top: 5px;
    content: '';
    width: 140px;
    height: 1px;
    background: $yellow;
    left: 50%;
    margin-left: -70px;
  }
  @media screen and (max-width: $screen-xs-min) {
    font-size: $font-size14 - 2;
  }
}

.login-title {
  font-size: $font-size14 + 4;
  font-family: $font-family-default-semibold;
}


