/* ---------------------------------------------------------------------- */
/*  Utilities
/* ---------------------------------------------------------------------- */
.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top{
  margin-top: 0 !important;
}

.margin-lr0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marginlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margint10 {
  margin-top: 10px !important;
}

.margint20 {
  margin-top: 20px !important;
}

.margint30 {
  margin-top: 30px !important;
}

.margint60 {
  margin-top: 60px;
}

.pad20{
  padding: 20px;
}

.inline {
  display: inline;
}

.no-border {
  border: none !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  float: none;
}

.text-overflow-hidden{
  @include text-overflow;
  width: 100%;
}

.padding-bottom {
  padding-bottom: 20px;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

.height50 {
  height: 50px;
}

.card-height1 {
  height: 360px;
}

.card-height1-ads {
  height: 750px;
}

.optionheight {
  height: 28px;
}

.width100 {
  width: 100%;
}

/* ---------------------------------------------------------------------- */
/*  Background Colors
/* ---------------------------------------------------------------------- */
.no-bg {
  background: none;
}

.border-bottom-yellow {
  border-bottom: 1px solid $yellow;
}

.border-bottom-red {
  border-bottom: 1px solid $text-color-red;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-none {
  float: none;
}

.radius-3 {
  border-radius: 3px !important;
}

.radius-5 {
  border-radius: 5px !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.noTransform {
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.vertical-bottom {
  vertical-align: bottom;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

.no-wrap {
  white-space: nowrap !important;
}

.wrap {
  white-space: normal !important;
}

.overflow-hidden {
  overflow: hidden;
}

.divider {
  border-bottom: 1px solid $light;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Fonts */
.text-italic {
  font-family: $font-family-secondary-bold-italic;
}

.text-bold{
  font-family: $font-family-default-bold;
}

/* Back to Top  */
#backtotop {
  position: fixed;
  bottom: 520px;
  right: 40px;
  display: none;
  z-index: 9;
  text-align: center;
  margin: 0;
  a {
    display: block;

    i {
      color: $text-color-red;
      font-size: $font-size14 + 2;
    }
    span {
      color: $light-dark;
      font-size: $font-size14 - 2;
      display: block;
      border-bottom: 2px solid $yellow;
      padding: 5px 0 6px;
    }

    &:hover, &:focus {
      text-decoration: none;
      span {
        color: $text-color;
      }
    }
  }

  @media screen and (max-width: $screen-xs-min) {
    display: none !important;
  }
}

