@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin bottom-border-radius($radius , $radius) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -o-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

@mixin top-border-radius($radius , $radius) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -o-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  transform-origin: $val;
}

@mixin transform-translate($val1, $val2) {
  -webkit-transform: translate($val1, $val2);
  -moz-transform: translate($val1, $val2);
  -ms-transform: translate($val1, $val2);
  -o-transform:  translate($val1, $val2);
  transform: translate($val1, $val2);
}



