//  Default Colour Settings

// Colors
$white: #ffffff;
$yellow: #f8d57b;
$yellow-light: #fefbf5;
$yellow-dark: #efb430;
$light: #ccc;
$dark: #333;
$light-dark: #999;
$black: #000;

//Text colors
$text-color: #5c5d61;
$text-color-heading: #777;
$text-color-red: #e94142;
$red-light: #ea696a;
$text-color-green: #8dcb20;

$footer-text: #616161;

//Background colors
$footer-bg: #262626;
$card-bg: #f6f6f6;
$cougarblue-bg : #8bbbbd;
$grey-bg : #c3b3aa;
$lightgreen-bg: #a8d59b;

//Border color
$border-bottom-gray: #efefef;
$border-color: #868686;

// social item colors
$facebook: #3d5b98;
$twitter: #41adff;
$google: #e74c3c;
$instagram: #833ab4;
$pinterest: #bd081c;

//Font family
$font-family-arial: Arial,sans-serif;
$font-family-default: cabinregular, sans-serif;
$font-family-default-semibold: cabincabin_semibold, sans-serif;
$font-family-default-bold: cabinbold, sans-serif;
$font-family-default-italic: cabinitalic, sans-serif;

$font-family-secondary: pt_serifregular, sans-serif;
$font-family-secondary-bold: pt_serifbold, sans-serif;
$font-family-secondary-bold-italic: pt_serifbold_italic, sans-serif;
$font-family-secondary-italic: pt_serifitalic, sans-serif;

//Font Size
$font-size14: 14px;
$font-size22: 22px;
$font-size54: 54px;

/*Images Path*/
$assetPath: "../../assets/images";
$spritesheet: "../../assets/images/durian-spritesheet.svg";

//  Breakpoints

// Extra small screen / phone
$screen-xs-min: 767px;

// Small screen / tablet
$screen-sm-min: 991px;

// Medium screen / desktop
$screen-md-min: 992px;



